form fieldset {
    background-color: #aaaaaa20;
    color-scheme: light;
}
form legend {
    font-weight: bold;
    margin: 0 auto;
}
form label {
    display: block;
    font-size: 95%;
    margin-top: 1rem;
}
form input, form textarea {
    border-style: solid;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}
form .error {
    color: rgb(221, 146, 102);
    margin-top: 0.2rem;
}