html, body {
  padding: 0;
  margin: 0;
}
#root {
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}
.tablero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  align-items: stretch;
}
